[Desktop Entry]
Name=Microphone Noise Reduction
Comment=Control microphone noise reduction settings
Exec=/usr/share/bigbashview/apps/microphone/launcher.py
Icon=biglinux-noise-reduction-pipewire
Terminal=false
Type=Application
Categories=GTK;GNOME;Settings;Audio;
StartupNotify=true
X-GNOME-UsesNotifications=false
